@import url('../../assets/css/iconfont.css');

// 覆盖样式
:root {
  --navbar-bg: rgba(0, 0, 0, 0.88);
  --action-size: 32px;
}

#ai-chat-root {
  .ChatApp {
    border-radius: 0 0 16px 16px;
    .Navbar {
      border-radius: 16px 16px 0 0;
      .IconBtn {
        color: #fff;
      }
      .Navbar-title {
        color: #fff;
      }
      .Navbar-desc {
        color: #fff;
      }
      .Navbar-right {
      }
    }
    .MessageList {
      padding: 16px;
    }
    .message-wrapper {
      display: flex;
      align-items: center;
    }
    .ChatFooter {
      border-radius: 0 0 16px 16px;
    }

    .Composer-actions {
      display: flex;
      align-items: center;
      overflow: hidden;
      width: var(--action-size);
      height: var(--action-size);
      transition: none;

      &[data-action='send'] {
        width: var(--action-size);
        height: var(--action-size);
      }
      .IconBtn {
        padding: 8px;
        background: rgba(0, 0, 0, 0.8);
        font-size: var(--action-font-size);
        color: #fff;
        border-radius: 8px;
        i {
          line-height: 1;
        }
      }
      .Composer-sendBtn {
        background: rgba(0, 0, 0, 0.8);
      }
    }

    .Composer[data-has-value='true'] .Composer-sendBtn {
      animation: none;
    }
  }
}

.quick-replies {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.quick-reply-btn {
  margin-bottom: 8px;
}

// 自定义导航栏样式
.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.88);
  color: #fff;
  height: 40px;
  padding: 0 16px;
  border-radius: 16px 16px 0 0;
  position: relative;

  .navbar-title {
    font-family:
      Gilroy,
      Montserrat,
      avenir,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif,
      Microsoft YaHei UI;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    flex: 1;
  }

  .navbar-actions {
    display: flex;
    align-items: center;
    position: absolute;
    right: 16px;

    .navbar-btn {
      background: none;
      border: none;
      color: #fff;
      cursor: pointer;
      padding: 4px;
      margin-left: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 0.8;
      }

      i {
        font-size: 18px;
      }
    }
  }
}
